.topWrap {
    width: 100%;
    height: 100vh;
    background-color: #46A667;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .left {
        // margin-left: 10rem;
        position: absolute;
        left: 0;
    }

    .logo {
        margin-right: 2rem;
    }

    .right {
        // margin-right: 10rem;
        position: absolute;
        right: 0;
    }
}

// アニメーション実装がまだ